name: CI
on:
  push:
    branches:
      - ci
jobs:
  demo:
    name: Demo
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Template
        uses: actions/checkout@v3
        with:
          repository: jpillora/go-template
          path: template
          fetch-depth: 0
      - name: Checkout Demo
        uses: actions/checkout@v3
        with:
          repository: jpillora/go-template-demo
          ssh-key: ${{ secrets.SSH_KEY }}
          path: demo
      - name: Instantiate Demo
        run: ./instantiate.sh
        env:
          SSH_KEY: ${{ secrets.SSH_KEY }}